.info-container {
    position: absolute;
    top: 50%; 
    left: 60%; 
    width: 51%; 
    height: 50%; 
    background-color: rgba(255, 255, 255, 0.5); 
    transform: translate(-50%, -50%); 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.info-container div {
    text-align: center; 
}
